---
layout: agency
title: Sage IQ Consulting
body_class: home
---

<div class="home">

    {% include header_home.html %}
    {% include services.html %}
    {% include specialities.html %}
    {% include portfolio_grid.html %}
  {% comment %}
  {% include about.html %}
  {% endcomment %}
    {% include team.html %}
  {% comment %}
  {% include clients.html %}
  {% endcomment %}
    {% include contact.html %}

{% comment %}
  <h1>Posts</h1>

  <ul class="posts">
    {% for post in site.posts %}
      <li>
        <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
{% endcomment %}

</div>
