<section style="padding:50px 0 150px 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3>Description</h3>
                {{job.description}}

                {{job.project}}

                <h3>Responsibilities</h3>
                {{job.responsibilities}}

                <h3>Requirements</h3>
                {{job.requirements}}

                <h3>Pluses</h3>
                {{job.pluses}}

            </div>
            <div class="col-lg-4">
                <h3>Ready To Apply?</h3>
                Drop us a note at <a href="mailto:info@sage-iq.com">info@sage-iq.com</a>.
                <br>
                <br>
                Attach a resume but be sure to tell us a bit about yourself and what drives you.
            </div>
        </div>
    </div>
</section>
