<!-- Portfolio Grid Section -->
    <section id="projects" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Projects</h2>
                    {% comment %}
                    <h3 class="section-subheading text-muted">TODO</h3>
                    {% endcomment %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row no-gutter">
                <div class="col-md-4">
                    <a href="/work/dun-and-bradstreet" class="client-work" style="background-image: url(/assets/img/work-dnb-bg.jpg); background-size: cover">
                        <div class="overlay"></div>
                        <div class="client-work-logo" style="background-image: url(/assets/img/work-dnb-white.png)"></div>
                        <div class="client-work-description">
                            <h2 class="heading">Dun &amp; Bradstreet</h2>
                            <span class="tag-line">Data Exchange – Data platform</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/work/texas-education-agency" class="client-work" style="background-image: url(/assets/img/work-tea-bg.jpg); background-size: cover">
                        <div class="overlay"></div>
                        <div class="client-work-logo" style="background-image: url(/assets/img/work-tea-white.png); background-size: 140px">
                        </div>
                        <div class="client-work-description">
                            <h2 class="heading">Texas Education Agency</h2>
                            <span class="tag-line">Web-Based Improvement Plan – Web-based app</span>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="/work/the-crow-group" class="client-work" style="background-image: url(/assets/img/work-tcg-bg.jpg); background-size: cover">
                        <div class="overlay"></div>
                        <div class="client-work-logo" style="background-image: url(/assets/img/work-tcg-white.png); background-size: 120px">
                        </div>
                        <div class="client-work-description">
                            <h2 class="heading">The Crow Group</h2>
                            <span class="tag-line">Investor Portal – Web-based app</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

