<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Sage IQ offers consulting, design, and implementation services for your business software needs. We bring a wealth of knowledge and practical experience in the areas of:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Platforms &amp; Product Strategy</h4>
                    <p class="text-muted">
                        Need help formulating your product strategy?
                        Is your existing product-based business being challenged by anemic growth and nimble competitors?
                        Would you like to explore a platform-based approach?
                        We will help you build a strategy, and develop the business &amp; technology architecture to achieve your business goals.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enterprise &amp; Application Architecture</h4>
                    <p class="text-muted">Do your existing technology capabilities match your business strategy? Do you need a technology roadmap to achieve your future business goals? Do you need help architecting a business critical software application? We bring years of Enterprise Architecture, and Solution/Application Architecture experience to the table.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Software Development &amp; Integration</h4>
                    <p class="text-muted">We offer the gamut of software development services, including design, proof-of-concepts, prototypes, production code, testing, deployment, and support. We are proficient in a host of technologies that span the entire application stack. We work with a cloud based platforms such as Amazon AWS, as well as on-premise infrastructure.</p>
                </div>
            </div>
        </div>
    </section>