    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Specialities</h2>
                    <h3 class="section-subheading text-muted">Sage IQ has extensive experience in the following domains:</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Sales &amp; Marketing</h4>
                    <p class="text-muted">
                        Want to enable ecommerce across all sales channels? We bring deep domain and implementation expertise for end-to-end omni-channel ecommerce scenarios. Need to reduce sales friction? We build sales productivity tools for lead management, product configuration, guided selling, proposal generation, analytics, and more. Want all of this to work seamlessly with your existing CRM system? Our integration services will take care of that. 
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Business Platforms</h4>
                    <p class="text-muted">
                        Can your existing product-based business evolve into a platform (think Uber, Airbnb, etc.)? Want to harness the power of network effects? Do you wish to create a self-sustaining ecosystem of value producers, consumers, and enhancers? We can examine your business domain and offer advice on viability and approach to transform into a Platform. We can help you quickly prototype and vet the approach. If it checks out, we can architect and implement the platform as well.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">APIs</h4>
                    <p class="text-muted">
                        We specialize in building RESTful APIs that securely expose your data and capabilities to internal/external systems and developers. We start with an inventory your domain, data, and capabilities. We then design and implement logical API endpoints, and all the necessary management capabilities to secure, monetize, track, and report your API usage.
                    </p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Agile Software Development</h4>
                    <p class="text-muted">
                        With over a decade of Agile development experience, we offer a very pragmatic approach to Agile. We specialize in building and mentoring agile development teams that deliver quality software consistently and on time. We educate and guide teams through the entire Agile development process - creating product backlogs, conducting sprint and release planning, developing software, tracking and reporting progress, performing sprint demos, and continuous improvement via retrospectives.
                    </p>
                </div>
            </div>
        </div>
    </section>