<section style="padding:50px 0 150px 0">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h3>Objective</h3>
                {{project.objective}}

                {{project.project}}

                <h3>Our Role</h3>
                {{project.ourRole}}

                <h3>Results</h3>
                {{project.results}}

            </div>
            <div class="col-lg-4">
                <h3>Technologies</h3>
                {{project.technologies}}
            </div>
        </div>
    </div>
</section>
