{% extends "base.html" %}
{% block content %}
	<h1>Sage IQ</h1>
	<h3>About</h3>
	<p>We build automated &amp; intelligent “sales navigation” tools that dramatically increase our customers’ close &amp; conversion rates.</p>
	<h3>Research &amp; Innovation</h3>
	<p>We specialize in innovation of the niche domains such as visualization, advance interaction design, semantic data acquisition, entity disambiguation, and advanced crowd-sourced human intelligence  tasks leveraging Amazon MT and our proprietary HIT platform.</p>
	<h3>Products</h3>
	<div>Navigator IQ</div>
	<p>The sales process has many twists &amp; turns, requiring the precise communication of complex information.</p>
	<div>
	<ul>
		<li>Online – customers require assistance to self serve their online purchase or risk loss of sale</li>
		<li>Offline – customers call and expect to guided with accurate product information from trained sales reps or risk loss of sale</li>
	</ul>
	<p>Sales navigation tools address this need via guided, intentional experiences that result in more sales closed, more of the time.</p>
	<div>Contact us for a preview.</div>
	</div>
	<h3>Team</h3>

	<div class="row">
		<div class="span6">

	<p><a href="static/img/ojas-headshot.jpg"><img class="" title="ojas patel headshot" src="static/img/ojas-headshot.jpg" alt="" width="150" height="150" /></a></p>
	<h4>Ojas Patel</h4>
	<p>Prior to founding Sage IQ, Ojas helped found the innovation lab at Hoover&#8217;s where he developed cutting edge proof-of-concepts, user-interfaces, and technologies; he architected &amp; developed innovative applications around complex solution configuration, data-center thermal &amp; power modeling, and proprietary product lifecycle management applications. Ojas holds a BS in Electrical Engineering from WKU.</p>

		</div>
		<div class="span6">

	<p><img class="" title="sreeni sathyanarayana headshot" src="static/img/sreeni-headshot.jpg" alt="" width="150" height="150" /></p>
	<h4>Sreeni Sathyanarayana</h4>
	<p>Prior to joining Sage IQ as Chief Technology Officer, Sreeni was a Senior Enterprise Architect at Dell where he architected their industry leading multi-channel e-commerce and solution configuration platforms. He spent 12 years at Dell in the roles of a senior software developer & lead, application architect, and enterprise architect. Sreeni holds an MS in Mechanical Engineering from Texas A&amp;M University.</p>

		</div>

	</div>

	<h3>Contact</h3>
	<p><a href="mailto:info@sage-iq.com">info@sage-iq.com</a></p>
	<p>Sage IQ<br />
	PO Box 1272<br />
	Austin, TX 78767-1272</p>
	<p><a href="https://twitter.com/SageIQ">@SageIQ</a></p>
	<!--
	DUNS: 059855413
	-->
{% endblock %}
