<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- navbar (logo with links to seprate pages) -->
    <div class="container row">
      <div class="four columns">
          <a href="/"><img class="logo" src="/images/logosmall.png" alt="" /></a>
      </div>
      <div class="two columns">
        <a href="/work/"><p class="headertxt1">Work</p></a>
      </div>
      <div class="two columns">
        <a href="/about.html"><p class="headertxt1">About</p></a>
      </div>
      <div class="two columns">
        <a href="/contact.html"><p class="headertxt1">Contact</p></a>
      </div>
      <div class="two columns">
        <a href="/special.html"><p class="headertxt1">Special</p></a>
      </div>

    </div>
    <!-- <div class="container row">
      <span class="header">
          <a href="/"><img class="logo" src="/images/logosmall.png" alt="" /></a>
      </span>
      <span class="header">

          <div class="two columns">
            <a href="/work/"><h5 class="headertxt1">Work</h5></a>
          </div>
          <div class="two columns">
            <a href="/about.html"><h5 class="headertxt1">About</h5></a>
          </div>
          <div class="two columns">
            <a href="/contact.html"><h5 class="headertxt1">Contact</h5></a>
          </div>
          <div class="two columns">
            <a href="/contact.html"><h5 class="headertxt1">Contact</h5></a>
          </div>

      </span>
    </div> -->
    {{content}}
    <!-- footer -->
    <div class="row footer-div">
      <span class="row container footer-txt">
        <p class="one-half column footer-txt2">© Sage IQ Consulting</p>
        <span class="socialmedia"><a href="https://www.facebook.com/sageiq/" target="_blank"><img  src="/images/facebook-small.png" alt="" /></a></span>
        <span class="socialmedia"><a href="https://www.linkedin.com/company/sage-iq" target="_blank"><img  src="/images/linkedin-small.png" alt="" /></a></span>
        <span class="socialmedia"><a href="https://twitter.com/sageiq" target="_blank"><img  src="/images/twitter-small.png" alt="" /></a></span>
      </span>
    </div>
  </body>
</html>
