<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="skeleton.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- navbar (logo with links to seprate pages) -->
    <div class="container row">
      <span class="header one-half column">
        <span class="">
          <a href="index.html"><img class="logo" src="images/logosmall.png" alt="" /></a>
        </span>
      </span>
      <span class=" header one-half column two">
        <span class=""><a href="work.html"><h5 class="headertxt1">Work</h5></a><a href="about.html"><h5 class="headertxt1">About</h5></a><a href="contact.html"><h5 class="headertxt1">Contact</h5></a></span>
      </span>
    </div>
    {{content}}
    <!-- footer -->
    <div class="row footer-div">
      <p>
        Hey this is the footer for the sage-iq website if ojas or srenni are reading this tell daniel what to put here
      </p>
    </div>
  </body>
</html>
