<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Daniel Rendon">
    <link rel="shortcut icon" href="assets/img/mstile-144x144.png">
<!--
	 ________  ________  ________  _______           ___  ________      
	|\   ____\|\   __  \|\   ____\|\  ___ \         |\  \|\   __  \     
	\ \  \___|\ \  \|\  \ \  \___|\ \   __/|        \ \  \ \  \|\  \    
	 \ \_____  \ \   __  \ \  \  __\ \  \_|/__       \ \  \ \  \\\  \   
	  \|____|\  \ \  \ \  \ \  \|\  \ \  \_|\ \       \ \  \ \  \\\  \  
	    ____\_\  \ \__\ \__\ \_______\ \_______\       \ \__\ \_____  \ 
	   |\_________\|__|\|__|\|_______|\|_______|        \|__|\|___| \__\
	   \|_________|                                                \|__|
-->
    <title>{{page.title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/hover.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/main.css" rel="stylesheet">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <script src="/assets/js/jquery.min.js"></script>
	<script src="/assets/js/Chart.js"></script>
	

	
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-offset="0" data-target="#theMenu">
		
	<!-- Menu -->
	<nav class="menu" id="theMenu">
		<div class="menu-wrap">
			<h1 class="logo"><a href="/">Sage IQ</a></h1>
			<i class="icon-remove menu-cl"></i>
			<a href="/#home" class="smoothScroll">Home</a>
			<a href="/#services" class="smoothScroll">Services</a>
			<a href="/#special" class="smoothScroll">Specialties</a>
			<a href="/#exp" class="smoothScroll">Experience</a>
			<a href="/#contact" class="smoothScroll">Contact</a>
		</div>
		
		<!-- Menu button -->
		<div id="menuToggle"><i class="fa fa-bars"></i></div>
	</nav>


	
	<!-- ========== HEADER SECTION ========== -->
	<section id="home" name="home"></section>
	<div id="headerwrap">
		<div class="container">
			<br>
			<h1><img class="logo shadowed" src="/assets/img/sage-iq-logo-no-white2.png"></h1>
			<h2>People. Strategy. Technology.</h2>
			<div class="row">
				<br>
				<br>
				<br>
				<div class="col-lg-6 col-lg-offset-3">
				</div>
			</div>
		</div><!-- /container -->
	</div><!-- /headerwrap -->
	
	
	{{content}}

	<div id="f">
		<div class="container">
			<div class="row">
				&copy; {{ site.time | date: "%Y" }} Sage IQ Consulting
			</div>
		</div><!-- /container -->
	</div><!-- /f -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	<script src="/assets/js/classie.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/smoothscroll.js"></script>
	<script src="/assets/js/main.js"></script>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/56b275e90a3b37c87676645b/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

</body>
</html>
